.card{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid gainsboro;
}       

.imgbox{
    width: 100%;
    flex: 7;
}

.img1{
    width: 100%;
    object-fit: cover;
}

.textbox{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
    flex: 3;
}