.layout{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_field{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.card{
    border: 1px solid gainsboro;
    width: 30%;
    height: 400px;
}
/* tablet css */
@media screen and (max-width:1024px) and (min-width:768px) {

}

@media screen and (max-width:768px) {
    .card_field{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 80%;
    }
}
