.box{
    height: 800px;
    width: 80%;
    margin: 100px auto;
}

.box1{

    display: inline-block;
    background-color: red;
    height: 100%;
    width: 30%;
}

.box2{

    display: inline-block;
    background-color: yellow;
    height: 100%;
    width: 30%;
}

.box3{

    display: inline-block;
    background-color: green;
    height: 100%;
    width: 30%;
}

.image1{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image2{
    height: 100%;
    width: 100%;
}

.image3{
    height: 100%;
    width: 100%;
}

